.container {
    display: flex;
  
    align-items: center;
  }
  
  .card-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center; /* Centralizar os botões horizontalmente */
    margin-top: 20px; 
    top: 0;
  }
  
  button {
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 0 10px; /* Espaçamento horizontal entre os botões */
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: #1a1a1a;
    color: #fff;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #646cff;
  }
  