:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(19, 19, 19);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #32567A;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column; /* Coloca os botões no topo */
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 130px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  max-width: 100%;
  padding: 16px;
  box-sizing: border-box;
  margin-top: 50px; /* Reduz a margem superior */
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: sticky; /* Fixa os botões no topo */
  top: 0; /* Define a posição no topo */
  background-color: rgb(19, 19, 19); /* Cor de fundo para os botões */
  z-index: 999; /* Garante que os botões fiquem sobrepostos */
  padding: 10px;
  width: 100%; /* Faz os botões ocuparem toda a largura */
}

button {
  border-radius: 12px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border: 2.5px solid #32567A;
  cursor: pointer;
  color: #F7E7CE;
  transition: all 350ms ease-in-out;
  margin: 8px;
  background-color: transparent;
}

button:hover {
  background-color: #32567A;
  box-shadow: 0px 10px 40px 5px rgba(29, 70, 112, 0.35);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.user-button {
  margin-top: 10px;
}

/* Novos estilos para os cards */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  border-radius: 12px;
  padding: 0;
  color: aliceblue;
  border: 3px solid white;
}

.card img {
  border-radius: 8px 8px 0 0;
  width: 250px;
  height: 200px;
}

.preco {
  color: aliceblue;
}

/* Media Queries para responsividade */
@media (max-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 2.8em;
    margin-top: 100px;
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.4em;
    margin-top: 70px;
  }

  .card-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2em;
    margin-top: 50px;
  }

  .card-grid {
    grid-template-columns: 1fr;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 100%;
    max-width: 300px;
  }
}
